pkgbase = panache-bin
	pkgdesc = A language server, formatter, and linter for Pandoc, Quarto, and R Markdown
	pkgver = 2.27.0
	pkgrel = 1
	url = https://github.com/jolars/panache
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gcc-libs
	provides = panache
	conflicts = panache
	options = !strip
	source_x86_64 = panache-2.27.0-x86_64-unknown-linux-gnu.tar.gz::https://github.com/jolars/panache/releases/download/v2.27.0/panache-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 0d74237fc176ce3a568021f0333328a7268ea33794a36124169a2ee05fb23011
	source_aarch64 = panache-2.27.0-aarch64-unknown-linux-gnu.tar.gz::https://github.com/jolars/panache/releases/download/v2.27.0/panache-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 47006a42a22e0e87440743e497a41a9360dcaa8a0646348d6bf10b33c8edca54

pkgname = panache-bin
