pkgbase = panache-bin
	pkgdesc = A language server, formatter, and linter for Pandoc, Quarto, and R Markdown
	pkgver = 2.30.0
	pkgrel = 1
	url = https://github.com/jolars/panache
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gcc-libs
	provides = panache
	conflicts = panache
	options = !strip
	source_x86_64 = panache-2.30.0-x86_64-unknown-linux-gnu.tar.gz::https://github.com/jolars/panache/releases/download/v2.30.0/panache-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = fd1562c9992c38f5fed76a841662bd3383c873671c457e4155abf0407f9fec0f
	source_aarch64 = panache-2.30.0-aarch64-unknown-linux-gnu.tar.gz::https://github.com/jolars/panache/releases/download/v2.30.0/panache-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 35525f55f67edc014ac7233c6a4fc86396ae2c02d6056344e085d375209533f4

pkgname = panache-bin
