pkgbase = panache-bin
	pkgdesc = A language server, formatter, and linter for Pandoc, Quarto, and R Markdown
	pkgver = 2.24.0
	pkgrel = 1
	url = https://github.com/jolars/panache
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gcc-libs
	provides = panache
	conflicts = panache
	options = !strip
	source_x86_64 = panache-2.24.0-x86_64-unknown-linux-gnu.tar.gz::https://github.com/jolars/panache/releases/download/v2.24.0/panache-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 46791719c24fce3f7959c854128df7f75b3011d1635e4d9ad93897577f389388
	source_aarch64 = panache-2.24.0-aarch64-unknown-linux-gnu.tar.gz::https://github.com/jolars/panache/releases/download/v2.24.0/panache-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 33c471cef0f538932abc2f0492e8b18ecc1d1268f9bcabad173bd6a3fbe73684

pkgname = panache-bin
